@font-face {
    font-family: Clash Display;
    src: url('../../fonts/ClashDisplay-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Clash Display;
    src: url('../../fonts/ClashDisplay-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Clash Display;
    src: url('../../fonts/ClashDisplay-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Clash Display;
    src: url('../../fonts/ClashDisplay-Semibold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Clash Display;
    src: url('../../fonts/ClashDisplay-Bold.ttf');
    font-weight: 700;
}

body {
    font-family: Clash Display;
}
